h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.row {
  width: 100vw;
  margin-left: 1em;
}
.cell {
  padding: .1em;
  background: grey;
  border-radius: .2em;
}
